.heading {
  margin-top: 0px;
  margin-bottom: 0px;
}

.heading.name {
  font-family: Vollkorn, serif;
  font-size: 25px;
  line-height: 25px;
  font-weight: 300;
  text-transform: uppercase;
}

.brand {
  padding-top: 16px;
  padding-bottom: 16px;
}

.navigation-bar {
  background-color: #fff;
  box-shadow: 1px 1px 3px 0 #000;
  font-family: Verdana, Geneva, sans-serif;
}

.brand-link {
  padding-top: 16px;
  padding-bottom: 16px;
}

.brand-text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'PT Serif', serif;
  color: #69b9ff;
  font-size: 25px;
  line-height: 25px;
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
}

model-viewer {
  width: 100vw;
  height: 50vh;
}

model-viewer#reveal {
  --poster-color: transparent;
}

.navigation-link {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  color: #676770;
}

.navigation-link:hover {
  color: #3ba1fb;
}

.hero-section {
  padding-top: 242px;
  padding-bottom: 242px;
}

.hero-section.centered {
  padding-top: 190px;
  padding-bottom: 0px;
  border-bottom: 0px none #3ba1fb;
  background-image: url('../images/morraine lake.jpg');
  background-color: rgba(255, 255, 255, 0.44);
  backdrop-filter: brightness(150%);
  background-position: 100% 50%;
  background-size: cover;
  text-align: center;
}

.hero-heading {
  margin-right: 40px;
  margin-bottom: 20px;
  margin-left: 40px;
  box-shadow: 1px 1px 3px 0 #000;
  font-family: Sen, sans-serif;
  color: #00ffaa;
  font-size: 40px;
  line-height: 60px;
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: capitalize;
  mix-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.184);
}

.hero-subheading {
  margin-bottom: 20px;
  font-family: Bitter, serif;
  color: #7fc3ff;
  font-size: 25px;
  line-height: 25px;
  font-weight: 300;
  letter-spacing: 3px;
  text-shadow: 1px 2px #000000;
}

.stock-hero {
  background-image: url('../images/dollar.jpeg'), linear-gradient(to bottom right, rgba(172, 255, 233, 0.425), rgba(161, 216, 255, 0.562));
  background-blend-mode: color-burn;
}

.sp-container {
  box-shadow: 1px 1px 3px 0 #000;
  background-color: rgba(255, 255, 255, 0.284);
}

.stock-title {
  font-family: Vollkorn;
  font-weight: 700;
  font-size: 70px;
  letter-spacing: 2px;
  line-height: 1.2;
  color: #8d8b8b;
  text-align: center;
  margin-top: 150px;
  text-shadow: 2px 2px #ffe5e5;
  mix-blend-mode: difference;
}

.stock-text {
  font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 32px;
  margin-top: 2em;
  margin-bottom: 1em;
  padding-left: 20px;
  padding-right: 20px;
  color: rgb(41, 41, 41);
  letter-spacing: -0.003em;
  font-style: normal;
  word-break: break-word;
  font-weight: 400;
}

.stock-report {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.button {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  padding: 12px 30px;
  border-radius: 4px;
  background-color: #69b9ff;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  color: #fff;
  font-size: 16px;
  line-height: 21px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: #2e9dff;
}

.button.w--current {
  background-color: #2e80b6;
}

.hollow-button {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px 30px;
  border: 1px solid #fff;
  border-radius: 4px;
  -webkit-transition: background-color 300ms ease, border 300ms ease, color 300ms ease;
  transition: background-color 300ms ease, border 300ms ease, color 300ms ease;
  color: #fff;
  line-height: 21px;
  font-weight: 300;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.hollow-button:hover {
  border-color: #2e9dff;
  color: #2e9dff;
}

.hollow-button.all-caps {
  text-transform: uppercase;
}

.cards-section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.centered-container {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.cards-grid-container {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  text-align: left;
}

.cards-image-mask {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 100%;
  border-radius: 0%;
}

.cards-image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  max-width: none;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.feature-section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.feature-image-mask {
  width: 100%;
  margin-right: 40px;
}

.feature-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer {
  padding-top: 60px;
  padding-bottom: 40px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: center;
}

.footer-flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: left;
}

.footer-logo-link {
  max-height: 60px;
  min-width: 60px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.footer-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.footer-heading {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.5;
}

.footer-link {
  display: block;
  margin-bottom: 10px;
  color: #444;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.dark-section {
  position: relative;
  width: 100%;
  margin-top: -1px;
  clear: left;
  background-color: #f9f9f9;
  color: #fafafa;
}

.centered-container-2 {
  padding: 10px 15px 25px;
  text-align: center;
}

.heading-2 {
  color: #070707;
}

.text-block {
  color: #000;
}

.image {
  image-rendering: -webkit-optimize-contrast; /* Chrome is terrible at downsizing images */
  margin-bottom: -1px;
  border-bottom: 0px none #fff;
}

.image-2 {
  margin-top: 10px;
}

@media screen and (max-width: 991px) {
  .navigation-menu {
    background-color: #7cc8fa;
  }

  .navigation-link {
    color: hsla(0, 0%, 100%, 0.52);
  }

  .navigation-link.w--current {
    color: #fff;
  }

  .hamburger-button.w--open {
    background-color: #7cc8fa;
  }

  .hero-section.centered {
    padding-top: 50px;
    padding-bottom: 0px;
  }

  .cards-grid-container {
    grid-column-gap: 20px;
  }

  .footer {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .hero-section.centered {
    padding-top: 119px;
    padding-bottom: 0px;
  }

  .hero-heading {
    margin-bottom: 15px;
    font-size: 50px;
  }

  .hero-subheading {
    font-size: 18px;
  }

  .cards-section {
    padding: 40px 20px;
  }

  .cards-grid-container {
    max-width: none;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .feature-section {
    padding: 40px 20px;
  }

  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .feature-image-mask {
    margin-right: 0px;
  }

  .feature-image {
    margin-right: auto;
    margin-left: auto;
  }

  .footer {
    padding: 40px 20px;
  }

  .footer-image {
    -o-object-fit: contain;
    object-fit: contain;
  }
}

@media screen and (max-width: 479px) {
  .hero-section.centered {
    padding-top: 60px;
    padding-bottom: 0px;
  }

  .hero-heading {
    margin-right: 20px;
    margin-left: 20px;
  }

  .button {
    margin-bottom: 25px;
  }

  .centered-container {
    text-align: left;
  }

  .cards-grid-container {
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .footer {
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
  }

  .footer-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-logo-link {
    height: 60px;
  }

  .footer-heading {
    margin-top: 20px;
  }
}

br {
  display: block; 
  content: "";
  margin-top: 15px;
}

.stock-img {
  margin: 10px;
  padding: 5px;
  box-shadow: 1px 1px 5px 0 #000;
}
